.book-item {
    width: 150px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.book-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 5px;
}
.book-title {
    font-size: 14px;
    color: #333;
}
