/*BookItem.css 
Huomoi että css tiedostoja ei olla kommentoitu*/
.book-item {
    width: 150px;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.book-item:hover {
    transform: translateY(-5px);
    background-color: #f5f5f5;
}

.book-item:active {
    transform: translateY(0);
    background-color: #e0e0e0;
}

.book-icon {
    width: 135px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.book-title {
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
    display: block;
}

.authors {
    font-size: 12px;
    color: #777;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
    display: block;
}

@media (max-width: 768px) {
    .book-item {
        width: 120px;
        height: 220px;
    }
}
